/**
 * TitleBar.scss
 * Styles for the Titlebar component
 */

.title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333;
    height: 35px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    padding: 0 5px;

    /* Add support for dragging the window, see: https://electronjs.org/docs/api/frameless-window#draggable-region */
    -webkit-app-region: drag;
}

.execution-path {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    flex-grow: 1;
    color: #ccc;
    height: inherit;

    font-size: .8rem;

    /* Add support for dragging the window, see: https://electronjs.org/docs/api/frameless-window#draggable-region */
    -webkit-app-region: drag;
}

.window-nav {
    display: flex;
    text-align: center;
    height: inherit;

    &__btn {
        background-color: inherit;
        color: #ccc;
        border: none;
        outline: none;
        padding: 0 10px;

        &:focus {
            background-color: inherit;
            color: #ccc;
            border: none;
            outline: none;
            padding: 0 10px;
        }

        &:hover {
            background-color: #555;
            border: none;
        }

        &:active {
            background-color: #777;
            border: none;
        }

        &--red {

            &:hover {
                background-color: red;
            }

            &:active {
                background-color: darkred;
            }
        }
    }


    // Fix for clicking on svg inside button returning unexpected target.id
    &__btn > *{
        pointer-events: none;
    }
}